<div class="p-3">
    <div class="row mb-2">
        <div class="col">
            <div class="breadcrumb">
                <span class="home-icon"><i class="bi bi-house-fill"></i></span>
                <a href="/super-admin/about-page" class="breadcrumb-item">About Page</a>
            </div>
        </div>
        <div class="col">
            <div class="justify-content-end d-flex">
                <!-- Add / Update button -->
                <button pButton type="button" label="Update" class="btn button" (click)="openAboutModalForUpdate()">
                </button>

            </div>

        </div>
    </div>

    <div class="card table-card mb-3">
        <app-table [arrList]="arrList" [arrColumns]="arrColumns" [blnForDelete]="blnForDelete"
            [blnHasSingleview]="blnHasSingleview" (objPresentationEvent)="eventFromTable($event)">
        </app-table>
    </div>
</div>



<!-- Add/Edit Modal -->
<p-dialog [(visible)]="OpenModal" [modal]="true" [style]="{width:'50vw'}" [baseZIndex]="9000" [draggable]="false"
    [resizable]="false" [header]="modalHeader">
    <form [formGroup]="AboutForm">
        <div class="row">
            <!-- Box Title nd Description -->
            <div class="col-12 mb-3">
                <label>Box Title *</label>
                <input type="text" class="form-control" formControlName="box_title">
            </div>
            <div class="col-12 mb-3">
                <label>Box Description</label>
                <textarea class="form-control" formControlName="box_description"></textarea>
            </div>
            
            <!-- Section 1 -->
            <div class="col-12 col-md-6 mb-3">
                <label>Section 1 Heading *</label>
                <input type="text" class="form-control" formControlName="sec1_heading">
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label>Section 1 Subheading</label>
                <input type="text" class="form-control" formControlName="sec1_subheading">
            </div>
            <div class="col-12 mb-3">
                <label>Section 1 Description</label>
                <textarea class="form-control" formControlName="sec1_description"></textarea>
            </div>
            <div class="col-12 mb-3">
                <label>Section 1 Image</label>
                <input type="file" class="form-control" (change)="onFileUpload($event, 'sec1_image')" accept="image/*">
                <img *ngIf="showImageBox.sec1_image" [src]="imagePreview.sec1_image" class="img-fluid mt-2 fixed-img">
            </div>


            <!-- Section 2 -->
            <div class="col-12 col-md-6 mb-3">
                <label>Section 2 Heading</label>
                <input type="text" class="form-control" formControlName="sec2_heading">
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label>Section 2 Subheading</label>
                <input type="text" class="form-control" formControlName="sec2_subheading">
            </div>
            <div class="col-12 mb-3">
                <label>Section 2 Description</label>
                <textarea class="form-control" formControlName="sec2_description"></textarea>
            </div>
            <div class="col-12 mb-3">
                <label>Section 2 Image</label>
                <input type="file" class="form-control" (change)="onFileUpload($event, 'sec2_image')" accept="image/*">
                <img *ngIf="showImageBox.sec2_image" [src]="imagePreview.sec2_image" class="img-fluid mt-2 fixed-img">
            </div>


            <!-- Section 3 -->
            <div class="col-12 col-md-6 mb-3">
                <label>Section 3 Heading</label>
                <input type="text" class="form-control" formControlName="sec3_heading">
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label>Section 3 Subheading</label>
                <input type="text" class="form-control" formControlName="sec3_subheading">
            </div>
            <div class="col-12 mb-3">
                <label>Section 3 Description</label>
                <textarea class="form-control" formControlName="sec3_description"></textarea>
            </div>
            <div class="col-12 mb-3">
                <label>Section 3 Image</label>
                <input type="file" class="form-control" (change)="onFileUpload($event, 'sec3_image')" accept="image/*">
                <img *ngIf="showImageBox.sec3_image" [src]="imagePreview.sec3_image" class="img-fluid mt-2 fixed-img">
            </div>


            <!-- Other fields -->
            <div class="col-12 mb-3">
                <label>Years of Experience</label>
                <input type="number" class="form-control" formControlName="years_of_experience">
            </div>

        </div>
    </form>
    <ng-template pTemplate="footer">
        <button type="button" pButton label="Save" class="submit-btn" (click)="handleAboutOperation()"></button>
    </ng-template>
</p-dialog>


<!-- Delete Modal -->
<p-dialog [(visible)]="deleteModal" [modal]="true" [style]="{width:'35vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false">

    <ng-template pTemplate="header">
        <div class="d-flex align-items-center">
            <i class="bi bi-exclamation-triangle"></i>
            <span class="ms-2">Delete About Page</span>
        </div>
    </ng-template>

    <div>
        <p class="justify-content-center d-flex mt-3 delete-para">
            Are you sure you want to delete this About Page?
        </p>
    </div>

    <ng-template pTemplate="footer">
        <div class="justify-content-center d-flex">
            <button type="button" pButton label="Close" class="close-btn" (click)="deleteModal = false"></button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" pButton label="Delete" class="delete-btn" (click)="deleteAbout(AboutId)"></button>
        </div>
    </ng-template>
</p-dialog>


<!-- Single View Modal -->
<p-dialog [(visible)]="displaySingleViewModal" header="About Page Details" [modal]="true" [style]="{width:'60vw'}"
    [closable]="true" [dismissableMask]="true">

    <div *ngIf="selectedAbout" class="singleview-container">

        <!-- Box Title -->
        <div class="singleview-section">
            <h4>{{selectedAbout.box_title}}</h4>
            <p><b>Box Description:</b> {{selectedAbout.box_description}}</p>
        </div>

        <!-- Section 1 -->
        <div class="singleview-section">
            <h5>Section 1</h5>
            <div class="section-content">
                <div class="text-content">
                    <p><b>Heading:</b> {{selectedAbout.sec1_heading}}</p>
                    <p><b>Subheading:</b> {{selectedAbout.sec1_subheading}}</p>
                    <p><b>Description:</b> {{selectedAbout.sec1_description}}</p>
                </div>
                <div class="image-content" *ngIf="selectedAbout.sec1_image">
                    <img [src]="selectedAbout.sec1_image" class="singleview-image">
                </div>
            </div>
        </div>

        <!-- Section 2 -->
        <div class="singleview-section">
            <h5>Section 2</h5>
            <div class="section-content">
                <div class="text-content">
                    <p><b>Heading:</b> {{selectedAbout.sec2_heading}}</p>
                    <p><b>Subheading:</b> {{selectedAbout.sec2_subheading}}</p>
                    <p><b>Description:</b> {{selectedAbout.sec2_description}}</p>
                </div>
                <div class="image-content" *ngIf="selectedAbout.sec2_image">
                    <img [src]="selectedAbout.sec2_image" class="singleview-image">
                </div>
            </div>
        </div>

        <!-- Section 3 -->
        <div class="singleview-section">
            <h5>Section 3</h5>
            <div class="section-content">
                <div class="text-content">
                    <p><b>Heading:</b> {{selectedAbout.sec3_heading}}</p>
                    <p><b>Subheading:</b> {{selectedAbout.sec3_subheading}}</p>
                    <p><b>Description:</b> {{selectedAbout.sec3_description}}</p>
                </div>
                <div class="image-content" *ngIf="selectedAbout.sec3_image">
                    <img [src]="selectedAbout.sec3_image" class="singleview-image">
                </div>
            </div>
        </div>

        <!-- Other Details -->
        <div class="singleview-section">
            <p><b>Years of Experience:</b> {{selectedAbout.years_of_experience}}</p>
        </div>
    </div>
</p-dialog>


<!-- Loader -->
<div *ngIf="Loader" class="spinner-container">
    <div class="spinner"></div>
</div>