<!-- <div class="container mt-4">
  <img src="assets/images/Vegan Valley Logo-01 2.png" alt="Logo" class="p-2 img-fluid">

  <div class="row align-items-center position-relative">

    <div class="col-lg-7 text-lg-start text-center">
      <img src="assets/images/image 2 (2).png" alt="" class="first-img d-lg-block d-none">
      <div class="p-3">
        <h1 class="heading">Coming soon!</h1>
        <p class="para">
          Get ready for a refreshing and nourishing experience! We’re bringing you fresh, cold-pressed juices packed
          with
          vitamins and flavor, along with wholesome vegetarian food bowls made from the freshest ingredients. Stay tuned
          for a delicious way to fuel your body and mind!
        </p>
      </div>
      <img src="assets/images/image 3.png" alt="" class="second-img d-lg-block d-none">
    </div>

    <div class="col-lg-5 text-center position-relative">
      <img src="assets/images/image 2 (3).png" alt="" class="third-img d-lg-block d-none">

      <div>
        <img id="changingImage" src="assets/images/salmon-poke-bowl-flat-lay-photography 1.png" alt=""
          class="rotating-img">
      </div>

      <img src="assets/images/image 1.png" alt="" class="fourth-img d-lg-block d-none">
    </div>
  </div>
</div> -->



<router-outlet />